In [1]:
# Basic Import
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns
# Modelling
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor,AdaBoostRegressor
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression, Ridge,Lasso
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
from sklearn.model_selection import RandomizedSearchCV
from catboost import CatBoostRegressor
from xgboost import XGBRegressor
import warnings

In [4]:
df = pd.read_csv('data/gemstonedata.csv')
df.head()

   id  carat        cut color clarity  depth  table     x     y     z  price
0   0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1   1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2   2   0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3   3   0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4   4   1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77  14453

In [5]:
X = df.drop(columns =['price'], axis=1)
Y = df['price']

In [8]:
X.head()

   id  carat        cut color clarity  depth  table     x     y     z
0   0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55
1   1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05
2   2   0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50
3   3   0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71
4   4   1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77

In [9]:
Y.head()

0    13619
1    13387
2     2772
3      666
4    14453
Name: price, dtype: int64

In [12]:
num_features = X.select_dtypes(exclude="object").columns
cat_features = X.select_dtypes(include="object").columns
            
cut_categories = ['Fair', 'Good', 'Very Good','Premium','Ideal']
color_categories = ['D', 'E', 'F', 'G', 'H', 'I', 'J']
clarity_categories = ['I1','SI2','SI1','VS2','VS1','VVS2','VVS1','IF']

In [13]:
from sklearn.preprocessing import OrdinalEncoder,StandardScaler
from sklearn.compose import ColumnTransformer

In [14]:
numeric_transformer = StandardScaler()
od_transformer = OrdinalEncoder()

preprocessor = ColumnTransformer(
    [
        ("OrdinalEncoder", od_transformer, cat_features),
         ("StandardScaler", numeric_transformer, num_features),        
    ]
)

In [15]:
X = preprocessor.fit_transform(X)
X.shape

(193573, 10)

In [17]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,Y,test_size=0.2,random_state=42)
X_train.shape, X_test.shape

((154858, 10), (38715, 10))

In [18]:
def evaluate_model(true, predicted):
    mae = mean_absolute_error(true, predicted)
    mse = mean_squared_error(true, predicted)
    rmse = np.sqrt(mean_squared_error(true, predicted))
    r2_square = r2_score(true, predicted)
    return mae, rmse, r2_square

In [19]:
models = {
    "Linear Regression": LinearRegression(),
    "Lasso": Lasso(),
    "Ridge": Ridge(),
    "K-Neighbors Regressor": KNeighborsRegressor(),
    "Decision Tree": DecisionTreeRegressor(),
    "Random Forest Regressor": RandomForestRegressor(),
    "XGBRegressor": XGBRegressor(), 
    "CatBoosting Regressor": CatBoostRegressor(verbose=False),
    "AdaBoost Regressor": AdaBoostRegressor()
}
model_list = []
r2_list =[]

for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train, y_train) # Train model

    # Make predictions
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)
    
    # Evaluate Train and Test dataset
    model_train_mae , model_train_rmse, model_train_r2 = evaluate_model(y_train, y_train_pred)

    model_test_mae , model_test_rmse, model_test_r2 = evaluate_model(y_test, y_test_pred)

    
    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])
    
    print('Model performance for Training set')
    print("- Root Mean Squared Error: {:.4f}".format(model_train_rmse))
    print("- Mean Absolute Error: {:.4f}".format(model_train_mae))
    print("- R2 Score: {:.4f}".format(model_train_r2))

    print('----------------------------------')
    
    print('Model performance for Test set')
    print("- Root Mean Squared Error: {:.4f}".format(model_test_rmse))
    print("- Mean Absolute Error: {:.4f}".format(model_test_mae))
    print("- R2 Score: {:.4f}".format(model_test_r2))
    r2_list.append(model_test_r2)
    
    print('='*35)
    print('\n')

Linear Regression
Model performance for Training set
- Root Mean Squared Error: 1112.3962
- Mean Absolute Error: 710.8212
- R2 Score: 0.9241
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 1100.4450
- Mean Absolute Error: 706.8342
- R2 Score: 0.9251
===================================


Lasso
Model performance for Training set
- Root Mean Squared Error: 1112.4937
- Mean Absolute Error: 711.8138
- R2 Score: 0.9241
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 1100.7037
- Mean Absolute Error: 707.9619
- R2 Score: 0.9250
===================================


Ridge
Model performance for Training set
- Root Mean Squared Error: 1112.3963
- Mean Absolute Error: 710.8410
- R2 Score: 0.9241
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 1100.4513
- Mean Absolute Error: 706.8538
- R2 Score: 0.9251
===================================


K-Neighbors Regressor
Model performance for Training set
- Root Mean Squared Error: 587.7687
- Mean Absolute Error: 312.6783
- R2 Score: 0.9788
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 716.8782
- Mean Absolute Error: 379.7569
- R2 Score: 0.9682
===================================


Decision Tree
Model performance for Training set
- Root Mean Squared Error: 0.0000
- Mean Absolute Error: 0.0000
- R2 Score: 1.0000
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 836.6382
- Mean Absolute Error: 425.2651
- R2 Score: 0.9567
===================================


Random Forest Regressor
Model performance for Training set
- Root Mean Squared Error: 227.7805
- Mean Absolute Error: 114.8176
- R2 Score: 0.9968
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 603.5737
- Mean Absolute Error: 305.7571
- R2 Score: 0.9775
===================================


XGBRegressor
Model performance for Training set
- Root Mean Squared Error: 510.5284
- Mean Absolute Error: 275.6861
- R2 Score: 0.9840
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 590.7689
- Mean Absolute Error: 299.1233
- R2 Score: 0.9784
===================================


CatBoosting Regressor
Model performance for Training set
- Root Mean Squared Error: 528.3527
- Mean Absolute Error: 282.3135
- R2 Score: 0.9829
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 580.7359
- Mean Absolute Error: 296.1041
- R2 Score: 0.9791
===================================


AdaBoost Regressor
Model performance for Training set
- Root Mean Squared Error: 1210.7582
- Mean Absolute Error: 821.6795
- R2 Score: 0.9101
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 1210.0625
- Mean Absolute Error: 817.9428
- R2 Score: 0.9094
===================================

In [20]:
pd.DataFrame(list(zip(model_list, r2_list)), columns=['Model Name', 'R2_Score']).sort_values(by=["R2_Score"],ascending=False)

                Model Name  R2_Score
7    CatBoosting Regressor  0.979130
6             XGBRegressor  0.978402
5  Random Forest Regressor  0.977456
3    K-Neighbors Regressor  0.968198
4            Decision Tree  0.956684
0        Linear Regression  0.925061
2                    Ridge  0.925060
1                    Lasso  0.925026
8       AdaBoost Regressor  0.909388

In [25]:
lin_model = CatBoostRegressor(verbose=False)
lin_model = lin_model.fit(X_train, y_train)
y_pred = lin_model.predict(X_test)
score = r2_score(y_test, y_pred)*100
print(" Accuracy of the model is %.2f" %score)

 Accuracy of the model is 97.91

In [26]:
pred_df=pd.DataFrame({'Actual Value':y_test,'Predicted Value':y_pred,'Difference':y_test-y_pred})
pred_df

        Actual Value  Predicted Value  Difference
14868           1355      1432.430022  -77.430022
165613         14691     15352.642825 -661.642825
96727            844       651.439663  192.560337
145593           707       725.406101  -18.406101
118689          5797      6176.794800 -379.794800
...              ...              ...         ...
168548          3864      4160.481614 -296.481614
167333           734       822.473842  -88.473842
113317          3950      3823.563729  126.436271
25575           1197      1301.128690 -104.128690
116310          1168      1359.115927 -191.115927

[38715 rows x 3 columns]